<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>View all Categories</title>
	</head>
	<body>
		<h1>Category Detail</h1>
		
		Name: <%= @category.name %><br />
		<%= link_to 'Edit', edit_category_path(@category)%>
		<%=  link_to 'View', :categories %>
		

	</body>
</html>
